


.post {
  width:auto;
  height: fit-content;
  overflow: hidden;
  margin: 1px;
  padding: 0.25rem;
 
}

.post img {
   width: 400px;
  height: 300px; 
  object-fit: cover;
    max-width: 100%;

}


button {
border: none;
background-color: #80400057;
font-family: 'Prompt';
font-weight: lighter;
color: beige;
font-size: 20px;
padding: 0.5rem;


}

.post {
  display: flex;
}

.post > a {
  margin: 2rem;
  padding: 2rem;
  background-color: #F2DAC2;
  border-radius: 1rem;   
  
}

.post > a:hover {
  background-color: #f6e5d4;
}

 /*  (phones, 600px and down) */
 @media only screen and (max-width: 600px)  {

.post > a {
  margin: 0rem;
  padding: 2rem;
  
}
 }