




/*navigation*/

.nav {
    position:relative;
    background-color: #ffff;
    width: auto;
    
    
}

.nav a {
  color: #676767;
  display: block;
  float: left;
  padding: 20px 20px;
  font-size: 25px;
  text-decoration: none;
  font-family: 'prompt';
  background: #ffff;
}

.nav a:hover {
    background-color:#D9C5B2;
    color: #9E6730;

}



.nav a.active {
    background-color: #804000;
    color:#ffff
}

.nav a:hover {
    background-color: #8040000c;
  }
   
.nav input[type=text] {
    font-size: 25px;
    margin-right: 15px;
    margin-top: 8px;
    font-size: 17px;
    font-family: 'prompt';
    padding: 5px;
    border: none;
    margin-left: 10px;
    
  }

  
.text{
    background-color: #ffff;
    width:max-content
}

body {
    background-color:#F2DAC2;
    margin: 0%;
}

.bodyimg {
    height: 846px;
    width: 626px;
    float: left;
}

header {
    background-color: #ffff;
}

p {
    font-family: 'prompt'; 
    color:  #804000;
    font-size: 20px;
}

h1{
    font-family: 'prompt'; font-weight: lighter;
    color: #804000;
}

h2 {
    font-family: 'Clicker Script';
    font-size: 100px;
    color: #804000;font-weight: lighter;
}

@media only screen and (max-width: 600px)  {}

/*content
body {
    background-color: #F2DAC2;
}

.bodyimg {
    height: 846px;
    width: 626px;
    float: left;
}

header {
    background-color: #ffff;
    position: sticky
}


p {
    font-family: 'prompt'; 
    color: #804000;
}


*{
    margin: 0;
}
