 /*grid*/
#page {
    display: grid;
    width: 100%;
    height:200px;
    grid-template:
      [header-left] "head head" 1fr [header-right]
      [nav-left] "nav  nav" 1fr [nav-right]
      [main-left] "main main" 1fr [main-right]
      [footer-left] "foot  foot" 100px [footer-right]
      / 120px 1fr;
  }
  
  header {
    grid-area: head;
    background-color: #ffff;
  }
  
  nav {
    /*background-color: lightblue;*/
    grid-area: nav;
    grid-row: span;
    
  }
  .nav{
    grid-column: span;
  }
  main {
    /*background-color: yellow;*/
    grid-area: main;
    grid-column: span;
  }
  #content{
    grid-row: ;
  }
  footer {
    background-color:#EACCAD;
    width: auto;
    grid-area: foot;
    position:static;
    bottom: 0;
    width: 100%;
    height: 100px;   
       
     }
  

 /*  (phones, 600px and down) */
 @media only screen and (max-width: 600px)  {
   

   
   
   
    header img{
        display: none;
    }
    
    .imagebox > img{
        display: none;
    }

  
p {
    display: none;
    /*font-family: 'prompt'; 
    color:  #804000;
    font-size: 40px;*/
   
}


    body {
        background: url('/images/logo.png');
        /*you will add the carusel here*/
    }
        .nav {
            position:
            background-color: #ffff;
          
            
        }
        
        .nav a {
          color: #676767;
          display: block;
          float: left;
          width: 810px;;
          padding: 30px 50px;
          font-size:30px;
          text-decoration: none;
          font-family: 'prompt';
          background: #ffff;
    }
   .nav{
    

   }
    .header {
        display:block;
    }
    
    footer{
        display: none;
    }
 }

 @media only screen and (max-width: 900px) and (min-width: 600px)  {
  .nav a{
    background-color: #F2DAC2;
  }
  .nav  {
    background-color: #F2DAC2;
  }
  }
 
   
    
    /* Medium devices (tablets, less than 992px)
    @media (max-width: 991.98px) { ... }  /*
        
  }

