* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
font-family:'prompt';
font-weight: lighter;
font-size: 16px;
line-height: 1.5;
background-color: #ffff;

}

.Grid-container {
    max-width: px;
    margin: 50px auto;
    Padding: 10px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
}

.grid-items {
    background-color:#ffff;
    color: #ffff;
    font-size: 20px;
    Padding: 20px;
    border: none 1px solid;
}


.bod1 {
    grid-row: 2/5;
   
}


.bod2 {
    background-color: #ffff;
    grid-row: 2/5;
}
.bod3 {
    background-color: rgb(101, 32, 32);
    grid-row: 2/5;
}
